<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- importation des fichiers -->
    
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='Pokeball.png') }}"/>
    <title>Booster Opening</title>
	
	<!-- apparence des liens cliquable -->
	
	<style>
    	.link { color: #FF0000; text-decoration: none}
 	</style>
	
</head>

<body>
	
	<!-- citation -->
	
	<h5><strong>Arrêtez de les poursuivre ! Plus vous partez à leur recherche, moins vous vous en approchez.</strong></h5>
	
	<!-- header -->
	
	<header>
	  <h4>Booster Opening</h4>
		<img src="{{ url_for('static', filename='Pokeball.png') }}" alt="logo">
	</header>
	
	<!-- zone de connexion -->
	
	<div id="container">
            
		<form action="/add_user" method="POST">
			<h1>Devient Drésseur</h1>

			<label><b>&nbsp; &nbsp; Nom d'utilisateur</b></label>
			<input type="text" placeholder="Nom d'utilisateur" name="uname" required>
			
			<label><b>&nbsp; &nbsp; Adresse e-mail</b></label>
			<input type="email" placeholder="Adresse e-mail" name="uemail" required>

			<label><b>&nbsp; &nbsp; Mot de passe</b></label>
			<input type="password" placeholder="Mot de passe" name="upassword" required>
			
			<label><b>&nbsp; &nbsp; Confirmation mot de passe</b></label>
			<input type="password" placeholder="Confirmation mot de passe" name="ipassword" required>

			<input type="submit" id="submit" value="REGISTER" >
			
			<h2>Si vous avez déjà un compte, <a class="link" href="/">connectez vous ici</a></h2>
			
		</form>
	</div>
</body>
</html>
